<html>
<title> Hangman </title> 
<head>
<style>
body {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background: tan;
}
div {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 300px; 
    text-align:right;
}
</style>
</head>
<body>  
Welcome To the worst web page ever. <br/>
Hangman<br/><br/>
<img src="http://www.maths.tcd.ie/~champion/hangman.gif" width=500 height=300><br/><br/>
<a href="/newgame">Start Game!</a>
<div>
Made in China
</div>
</body>
</html> 
