<html>
<title> Hangman </title> 
<head>
<style>
body {
    text-align: center;
    font-size: 30;
    font-weight: bold;
    background: red;
}
</style>
<body> 
    Sorry you lost!<br/>
    <img src="http://www.reactiongifs.com/r/2012/11/rivers-or-tears.gif"><br/>
    <a href="/newgame">Play again?</a>
</head>
</body>
</html>
