<html>
<title> Hangman </title> 
<head>
<style>
body {
    text-align: center;
    font-size: 30;
    font-weight: bold;
    background: red;
}
</style>
</head>
<body>
  You win!<br/>
    <img src="https://i.imgur.com/H44ydXe.gif"><br/>
    <a href="/newgame">Play again?</a>
 </body>
</html>
